@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
        font-family: "Roboto", sans-serif;
        font-weight: 200;
        font-style: normal;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: light;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-style: normal;
        
        margin: 0% 20% 5% 20%
      }



header{
    background-color: cadetblue;
    text-align: center;
    padding: 25px;
    color:antiquewhite;
}
main{
    margin: 5% 25%;

}
nav{
    text-align: center;
    margin: 15px;

}
nav a{
    padding: 10px;
    text-decoration: none;
}
section{
    padding: 30px;
    border-bottom: 1px steelblue solid;
}